* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: #F5F6F6;
  color: #10181A;
}

.header-section__nav-bar {
  width: 1400px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  align-items: center;
}

.header-section__header {
  height: 155px;
  background-color: #E0EDFE;
  width: 100%;
}
.header-section__header ul {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: -90px;
}
.header-section__header li {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #10181A;
}

a:hover {
  color: #65AFBC;
}

.nav-menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}
.nav-menu .button-profile {
  border: none;
  background: none;
  cursor: pointer;
}

.header-section__header {
  display: flex;
  flex-direction: column;
}

.body-section__information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 14px 0;
  font-size: 15px;
}
.body-section__information img {
  width: 27px;
  height: 27px;
}
.body-section__information p {
  display: flex;
  align-items: center;
}
.body-section__information .telephone {
  display: flex;
  align-items: center;
  margin: 14px 0;
}
.body-section__information .location {
  display: flex;
  align-items: center;
}

.button:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}

.logo {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  margin: 60px 100px;
  border: #65AFBC solid 6px;
  width: 194px;
  height: 184px;
  background-color: #F5F6F6;
  box-shadow: -7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo .color {
  background-color: #F5F6F6;
}

.header-section__form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-section__form input {
  margin: 20px 60px;
}
.header-section__form p {
  text-align: center;
}
.header-section__form .form-btn {
  display: flex;
  justify-content: center;
}
.header-section__form .button-form {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin: 20px 0 0 0;
}
.header-section__form .button-form:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}
.header-section__form .button-acc {
  border: none;
  background: none;
  margin: 6px;
  cursor: pointer;
  font-size: 15px;
}
.header-section__form .button-acc:hover {
  color: #65AFBC;
}
.header-section__form .input-style {
  border: none;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 60px;
  background: #E2EDEE;
  padding: 0 15px;
}
.header-section__form .container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}
.header-section__form .form-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.error-message {
  text-align: center;
  color: #C24343;
}

.header-section__form-login {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-section__form-login input {
  margin: 20px 60px;
}
.header-section__form-login p {
  text-align: center;
}
.header-section__form-login .form-btn {
  display: flex;
  justify-content: center;
}
.header-section__form-login .button-form {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin: 20px 0 0 0;
}
.header-section__form-login .button-form:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}
.header-section__form-login .button-acc {
  border: none;
  background: none;
  margin: 6px;
  cursor: pointer;
  font-size: 15px;
}
.header-section__form-login .button-acc:hover {
  color: #65AFBC;
}
.header-section__form-login .input-style {
  border: none;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 60px;
  background: #E2EDEE;
  padding: 0 15px;
}
.header-section__form-login .container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}
.header-section__form-login .form-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.body-section__body {
  width: 1400px;
  margin: 0 auto;
}

.first-section {
  display: flex;
  justify-content: space-between;
}

.first-section__img {
  display: flex;
}

.first-section__title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 700;
}
.first-section__title span {
  background-color: rgba(101, 175, 188, 0.5490196078);
  padding: 3px;
}

.first-section__text {
  text-align: right;
  margin: 14px 0;
}
.first-section__text p {
  font-size: 15px;
}

.first-section__information {
  display: flex;
  text-align: right;
  margin: 14px 0;
  flex-direction: column;
  align-items: flex-end;
}

.first-section__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.first-section__btn .button__text {
  margin: 12px;
  font-size: 15px;
}
.first-section__btn .button {
  display: flex;
  margin: 270px 0 0 0;
  justify-content: center;
  align-items: center;
}
.first-section__btn button {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
}

.product {
  display: flex;
  justify-content: center;
  margin: 180px 0 13px;
  font-size: 15px;
}
.product img {
  margin: 60px;
  border: #E0EDFE solid 6px;
  box-shadow: -7px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.product p {
  display: flex;
  justify-content: center;
}

.product-button {
  display: flex;
  justify-content: center;
  margin: 50px 50px 130px 50px;
}
.product-button button {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
}
.product-button button:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}

.footer-section__logo {
  margin-top: -305px;
}

.footer-section__nav-bar {
  display: flex;
  padding: 20px 100px;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.nav-menu__time {
  display: flex;
}
.nav-menu__time img {
  width: 46px;
  height: 46px;
}

.nav-menu-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-section__nav-menu {
  display: flex;
  justify-content: center;
}

.logo-footer {
  display: flex;
  margin-bottom: -200px;
  justify-content: center;
  border: #65AFBC solid 6px;
  width: 194px;
  height: 184px;
  background-color: #F5F6F6;
  box-shadow: 7px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.logo-footer .color {
  background-color: #F5F6F6;
}

.telephone__text {
  width: 280px;
}

.footer-section__nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu__time {
  display: flex;
  align-items: center;
  gap: 20px;
}

.telephone {
  display: flex;
  align-items: center;
  gap: 5px;
}

.location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.telephone__wrapper {
  display: flex;
  gap: 30px;
  align-items: center;
}

.footer-section__information {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-networks {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer {
  background-color: #E0EDFE;
  width: 100%;
}

.header-section__form-crm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-section__form-crm p {
  text-align: center;
}
.header-section__form-crm .form-btn {
  display: flex;
  justify-content: center;
}
.header-section__form-crm .button-form {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin: 20px 0 0 0;
}
.header-section__form-crm .button-form:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}
.header-section__form-crm .button-exit {
  border: none;
  background: none;
  margin: 6px;
  cursor: pointer;
  font-size: 15px;
}
.header-section__form-crm .button-exit:hover {
  color: #65AFBC;
}
.header-section__form-crm .input-style {
  border: none;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 60px;
  background: #E2EDEE;
  padding: 0 15px;
}
.header-section__form-crm .container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.header-section__filter {
  display: none;
  background-color: #E0EDFE;
  position: absolute;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 320px;
  height: 240px;
  padding: 20px 54px;
}
.header-section__filter li {
  list-style-type: disc;
  padding: 6px;
  cursor: pointer;
}
.header-section__filter li:hover {
  color: #65AFBC;
}
.header-section__filter .form-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  padding: 30px 230px 0;
}

.header-section__customization {
  display: none;
  background-color: #E0EDFE;
  position: absolute;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 330px;
  height: auto;
  padding: 20px 54px;
}
.header-section__customization li {
  list-style-type: disc;
  padding: 6px;
  cursor: pointer;
}
.header-section__customization li:hover {
  color: #65AFBC;
}
.header-section__customization .form-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
  padding: 30px 230px 0;
}

.header-section-crm {
  background-color: #E0EDFE;
  padding: 50px 100px;
}
.header-section-crm .icons {
  width: 45px;
  height: 45px;
  margin: 0 20px;
}
.header-section-crm button {
  border: none;
  background: none;
  cursor: pointer;
}
.header-section-crm .icon-table {
  display: flex;
}
.header-section-crm .icon-person {
  display: flex;
}
.header-section-crm__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body-section-crm__container {
  display: flex;
  justify-content: center;
  margin: 70px 100px;
}

.container-crm {
  background-color: #F5F6F6;
  border: 30px solid #E0EDFE;
}
.container-crm__modal-material {
  background-color: #E0EDFE;
  width: 260px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 30px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.container-crm__modal-material .form-close {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.container-crm__modal-material a {
  display: flex;
  justify-content: right;
}
.container-crm__modal-material .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-crm__modal-material .modal-header .modal-close {
  text-decoration: none;
  font-size: 24px;
}
.container-crm__modal-material .btn-material {
  background-color: #A6CFD6;
  margin: 15px;
  border: none;
  width: 170px;
  height: 30px;
}
.container-crm__modal-material .btn-material p {
  text-align: center;
}

.table-crm {
  background-color: #F5F6F6;
}

.table-title {
  text-align: center;
}

tr {
  text-align: center;
}

td {
  padding: 20px 20px;
}

th {
  padding: 40px 40px;
  font-weight: 700;
  color: #10181A;
}

.header-section-ware {
  background-color: #E0EDFE;
  padding: 50px 100px;
}
.header-section-ware img {
  width: 45px;
  height: 45px;
  margin: 0 20px;
}
.header-section-ware button {
  border: none;
  background: none;
  cursor: pointer;
}
.header-section-ware .icon-table {
  display: flex;
}
.header-section-ware .icon-person {
  display: flex;
}
.header-section-ware__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-section__form-ware {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.header-section__form-ware p {
  text-align: center;
}
.header-section__form-ware .form-btn {
  display: flex;
  justify-content: center;
}
.header-section__form-ware .button-form {
  border: none;
  border-radius: 6px;
  background-color: #A6CFD6;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin: 20px 0 0 0;
}
.header-section__form-ware .button-form:hover {
  background: #E0EDFE;
  border: 4px solid #A6CFD6;
}
.header-section__form-ware .button-exit {
  border: none;
  background: none;
  margin: 6px;
  cursor: pointer;
  font-size: 15px;
}
.header-section__form-ware .button-exit:hover {
  color: #65AFBC;
}
.header-section__form-ware .input-style {
  border: none;
  box-shadow: 7px 4px 24px 0px rgba(0, 0, 0, 0.25);
  width: 440px;
  height: 60px;
  background: #E2EDEE;
  padding: 0 15px;
}
.header-section__form-ware .container {
  display: flex;
  flex-direction: column;
  margin: 60px;
}
.header-section__form-ware .form-close {
  display: flex;
  justify-content: end;
  cursor: pointer;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.accordion-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.accordion-bar {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shadow {
  margin-bottom: 10px;
}

.body-section__accordion {
  margin: 130px 120px;
  color: #10181A;
}

.shadow {
  box-shadow: -7px 4px 26px 0px rgba(0, 0, 0, 0.25);
  width: 400px;
  margin: 40px;
}

.accordion-bar {
  display: flex;
  background: #A6CFD6;
  padding: 20px 30px;
  width: 400px;
  justify-content: space-between;
}
.accordion-bar p {
  font-weight: 700;
}
.accordion-bar .acc-app {
  display: flex;
  cursor: pointer;
}

.accordion {
  background: #E0EDFE;
  display: flex;
  padding: 20px 30px;
  width: 400px;
  justify-content: space-between;
  flex-direction: column;
}
.accordion p {
  padding: 8px;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}/*# sourceMappingURL=style.css.map */